flask
pytest
redis
celery
gevent
flower
requests
Flask-Pydantic
flask-sqlalchemy
faker
pydantic[email]
email-validator
prometheus-client
numpy
pandas
shap
umap-learn
mlflow
arize>=7.0.0,<9
openai
pytest-cov
