flask
pytest
redis
celery
gevent
flower
requests
Flask-Pydantic
flask-sqlalchemy
faker
pydantic[email]
prometheus-client
mlflow
pytest-cov
pydantic
umap-learn
flask_sqlalchemy
prometheus_client
pydantic[email]
email-validator
arize>=8.10,<9
numpy>=1.26,<2.4
pandas
